
body {
  src: url('./www/Montserrat/Montserrat-Regular.ttf') format('ttf'),
   url('./www/Montserrat/Montserrat-Regular.ttf') format('ttf');
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #13294B;
}

h2, h3 {
  src: url('./www/Montserrat/MontserratAlternates-Regular.ttf') format('ttf'),
   url('./www/Montserrat/MontserratAlternates-Regular.ttf') format('ttf');
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  color: #DD3403;
}

h4, h5 {
  src: url('./www/Montserrat/Montserrat-Regular.ttf') format('ttf'),
   url('./www/Montserrat/Montserrat-Regular.ttf') format('ttf');
  font-family: 'Montserrat', sans-serif;
}


a:link {
    color: #009FD4;
}

p {
  color: #13294B;
}

.irs-bar {
    background: #FF552E;
    border-top: 1px #FF552E;
    border-bottom: 1px #FF552E;
}

.irs-bar-edge {
    background: #FF552E;
    border: 1px #FF552E;
}